header {
    padding: 20px 0; 
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 0px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size:22px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
    padding-top: 5px;
}

.titulo, .informacao, #missao {
    text-align: center;
}

#missao {
    font-size: 20px;
}

#missao strong {
    color:red;
}


.beneficios {
    background: #FFFFFF;
    padding: 20px;
    
}

.titulo {
    font-size: 30px;
    padding-bottom: 20px;

}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    padding: 10px 0;
    font-size: 30px;

}

.imagembeneficio {
    width: 50%;
    padding-left: 50px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}


